<h2 class="text-center">Add New Expense</h2>
<form action="/add">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Amount</label>
        <input type="number" class="form-control" name="amount" placeholder="0.00">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Description</label>
        <input type="text" class="form-control" name="desc" placeholder="Write here...">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Date</label>
        <input type="date" class="form-control" name="date">
    </div>
    <button type="submit" class="btn btn-success text-center">Add Expense</button>   
</form>

    
