<!DOCTYPE html>
<html>
    <head>
        <title>Expense Report</title>
        {% include 'bootstrap.html' %}
        
    </head>

    <body>
        {% include 'nav.html' %} 
        <div class="container">
            <h3>Description</h3> 
            <p>{{expense.comments}}</p>
            <h3>Amount</h3>
            <p>{{expense.amount}}</p>
            <h3>Date of Expense</h3>
            <p>{{expense.dateofExpense}}</p>
            <h3>Date of Log</h3>
            <p>{{expense.dateofLog}}</p>
            <a href="/" class="btn btn-success">Back to Dashboard</a>
        </div>
        
       {% include 'footer.html' %}
    </body>
</html>