<!DOCTYPE html> 
<html>
    <head>
        <title>Expense Tracker</title>
        <link rel="icon" type="image/x-icon" href="/static/rupee.png">
        {% include 'bootstrap.html' %}
        <style>
            #banner{
                width: 100%;
                height: 200px;                
            }
        </style>
    </head>
    <body>
        {% include 'nav.html' %}
        <h1 class="text-center">Dashboard</h1>
        <img class="img-fluid" id="banner" src = "http://127.0.0.1:5000/static/banner.jpeg">
        <div class="container-fluid row">
            <div class="col-6">
                {% include 'addexpense.html' %}
            </div>
            <div class="col-6">
                <h2 class="text-center">This Month's Expenditure</h2>
                <p class="text-center">
                    {% include 'prevtrans.html'%}
                </p>
                <span class="d-block p-2" style="background-color:#dee2e6">Total (this month): {{sum}}</span><br><br>
                <a href="/allExpenses" class="btn btn-warning">View all Transactions</a>
                <a href="/analysis" class="btn btn-dark">Analyse my Expenses</a>
            </div>
            
        </div>
        
        {% include 'footer.html'%}
    </body>
</html>
